################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PFS/Client/bin/Debug/net8.0
/PFS/Client/obj
/PFS/PfsCmdLine/obj
/PFS/PfsConfig/bin/Debug/net8.0
/PFS/PfsConfig/obj
/PFS/PfsExtFetch/bin/Debug/net8.0
/PFS/PfsExtFetch/obj
/PFS/PfsExtProviders/bin/Debug/net8.0
/PFS/PfsExtProviders/obj
/PFS/PfsExtTransactions/bin/Debug/net8.0
/PFS/PfsExtTransactions/obj
/PFS/PfsHelpers/bin/Debug/net8.0
/PFS/PfsHelpers/obj
/PFS/PfsReports/bin/Debug/net8.0
/PFS/PfsReports/obj
/PFS/PfsShared/bin/Debug/net8.0
/PFS/PfsShared/obj
/PFS/PfsTypes/bin/Debug/net8.0
/PFS/PfsTypes/obj
/PfsUI/bin/Debug/net8.0
/PfsUI/obj
/PFS/PfsData/bin/Debug/net8.0
/PFS/PfsData/obj
/PFS/Client/bin/Debug/net9.0
/PFS/PfsConfig/bin/Debug/net9.0
/PFS/PfsData/bin/Debug/net9.0
/PFS/PfsExtFetch/bin/Debug/net9.0
/PFS/PfsExtProviders/bin/Debug/net9.0
/PFS/PfsExtTransactions/bin/Debug/net9.0
/PFS/PfsHelpers/bin/Debug/net9.0
/PFS/PfsReports/bin/Debug/net9.0
/PFS/PfsTypes/bin/Debug/net9.0
/PfsUI/bin/Debug/net9.0
