@namespace PfsUI.Components

<MudDialog>
    <TitleContent>
        <b>@Title</b>
    </TitleContent>
    <DialogContent>

        <p>I started original portfoliostalker project on late 2021, and finished first browser+server base
        version with 6 months of half day efforts. After using that version about 2 years, I decided to
        create new V2.0 that targets cleaning up code space to focus & improving features those I actually
        end up using. Same time I initially dropped all server functionalities, so that at least first
        versions doesnt even support login. I may add server functionalities later back, but planning to
        keep core of functionality as browser only. Plan is that PFSv2 can be used forever solely from browser
        if so choosing, without any 'shutdown' dependencies. Initial (re)development of PFSv2 was done 1H24.
        </p>
        <br>
        <p>
        There is no monetary plans with this, its just personal fun coding project to keep brain busy
        when dont have other design projects going on. PFSv2 is released as GPLv3 licensed,
        meaning that anyone can get codes and self edit/run as wishess. Really after writing many decades
        of code to work embedded systems/projects those I never see after they finished, it was time to 
        get out something more personal.
        </p>
        <br>
        <p>There is so many different offerings and applications on stock markets, and this is not trying to
        do everything but is more like replacement of excel's those many use to keep track their ownings.
        Top of tracking current holdings, and history, dividents etc... a hefty focus on this application is
        put to "minimize time required to keep eye of of stocks under interest" ala per valuation of stock
        to have set of alarms those help to reduce time to keep eye individual stocks from day-to-day.
        That really means "overview" report, thats is really only thing I check everyday for automatic 
        top highlights of day, for most interesting happenings for those about 300 stocks I follow.
        </p>
        <br>
        <p>Development continues, as left hand project, depending also how busy real life keeps me.
        Plan is anyway add features, alarm types, reports, importings, etc as need and time allows.
        Specially need more fancy alarms, as catching falling knifes on stock market is getting bloody 
        business, so alarms for "sell failed buys" and "take some profits out" are some of top priorities.
        One target for this is to be easy to import, easy to export for content, so if you have some different
        brokers/banks export format that would be worth of implement, just send csv exports and lets see.
        </p>
        <br>
        <p>Please note, usage testing has just started 2H24, and test suite for automatic verifications still
        on todo list waiting bored rainy days, but on highlevel everything is starting to look promisingly good.
        </p>
        <br>
        <p><b>BACKUPS!</b> As this is fully WASM base web browser app, there is no connections to any server except
        external market data providers (those are not mine, but services of different companies providing data). 
        There is no backup data to server functionality, you need to backup you data manually (from menu) to keep it safe! 
        If you wipe browser's data storage, then all data is gone.
        </p>
        <br>
        <p>If any questions, hopes, etc arrives feel free to drop email to jami.pfs (at) outlook.com or
            login to discord https://discord.gg/wDFVGd9qAQ
        </p>
        <br>
        Br, Jami / 2024-Jul-25th / Oulu Finland

    </DialogContent>

</MudDialog>
